<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'index.css') }}">
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>


    <script>
	function getTest() {
        $.ajax({
            type: 'POST',
            url: '/predictData',
            dataType: 'json',
            data: {
                'chinese': $(".chinese").val(),'math':$(".math").val()},
            success: function (res) {
                $('.predictRes').text(res['status'])
            },
            error: function () {
                alert('error')
            }
        })
    }

</script>
</head>

<h1>
    {{ title }}
</h1>
<body>

{% for item in items %}
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">{{ item[0] }}</span>
  </div>
  <input name={{  item[0]}} type="text" aria-label="First name" class="{{ item[0] }}">
</div>
{% endfor %}
          <button type="button" class="btn btn-primary" onclick="getTest()">Submit</button>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">预测结果</span>
  </div>
    <div class="input-group-prepend">
    <span class="input-group-text predictRes" >None</span>
  </div>
</div>
</body>
</html>